
.wrapper{
    width: 100%; min-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 60px 150px repeat(6,auto) 110px; /*would like to be able to set height of row 1 so that it accomodates multi-line sign in/sign up buttons when screen shrinks*/
    /*grid-gap: 2px;*/
}

.item6, .item10, .item14, .item18, .item22{
    grid-column: span 3;
}

.buttonDiv{ text-align:right; }

.title{
    padding-left: 130px;
    padding-top: 10px;
    text-align:left;
}

#weightliftingIcon, #bodyweightIcon, #tempoIcon, #commitmentIcon{ opacity: .3; }

#distanceError, #weightError, #unitsError, #repsError, #timeError, #baselineWeightError, #baselineTimeError, #baselineRepsError{
    visibility: hidden;
    color: #3C2D50;
    font-size: 12px;
    font-family: Courier;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /*background: white;*/
    background: #8A94B9;
    min-height: 100%;
}

img{ width: 50px; height: 50px; }

a{ text-decoration: none; }

#profileIcon{ opacity: .6; width: 40px; height: 40px; }
#profileIcon:hover{ opacity: .9; }

#home{
    color: #8A94B9;
    font-family: Calibri;
    font-weight: 600;
    font-size: 35px;
}

.homelink{
    padding-top: 0px;
}

#home:hover{ color: #3C2D50; }

#navBarLeft{
    grid-column: span 1;
    padding-top: 10px;
    padding-left: 16px;
    text-align: left;
    background: #C6C0CA; opacity: .9;
    top: 0;
}

#navBarRight{
    grid-column: span 1;
    padding-top: 12px;
    padding-right: 15px;
    text-align: right;
    background: #C6C0CA; opacity: .9;
    top: 0;
}

#navBarMid{
    grid-column: span 4;
    text-align: center;
    background: #C6C0CA; opacity: .9;
    top: 0;
}


.item{
    background: white;
    /*background: #8A94B9;*/
    color: black;
    padding: 15px;
    text-align: center;
    font-family: Tw Cen Mt;
}

.item2{
    grid-column: span 4;
    font-family: Courier;
    /*font-weight: 600;*/
    font-size: 45px;
}

.goalIcon{text-align:right;}


/* RESPONSIVE DESIGN HERE */

/* iPhone X */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {

    /**/
    .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9 {
    grid-column: span 6;
    grid-column: span 6;
    }

    .wrapper{
    width: 100%; min-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6, auto);
    /*grid-gap: 3px;*/
    }

}

#incentiveDescription{
    display: inline-block;
    /*text-indent: 100px;*/
}

#userInput{
    display:inline;
    width: auto;
    /*margin: 6px;*/
}

#goalPreface,#baselinePreface, #timeframePreface, #baselineExercise, #baselineActivity, #baselineUnits, #baselineDistance, #goalTimes, #goalMin, #goalIn, #baselineTimes, #baselineIn, #goalMin, #baselineMin, #baselineLiftReps{
    font-family: TW Cen Mt;
    font-size:22px;
}

.exerciseInput, .baselineInput, .activityInput{
    font-family: Courier;
    font-size: 20px;
    display: inline;
    width: auto;
    margin: 0px;
    /*border: none;*/
    background: none;
    text-align: left;
    text-indent: 12px;
    /*height: 4vh;*/
    height: 32px;
    border: 1px;
    border-radius: 12px;
    border-top-right-radius: 6px;
    background: #C6C0CA;
}

.notesInput{
    font-family: Courier;
    font-size: 12px;
    width: 330px;
    height: 110px;
    padding: 10px;
    margin: 0px;
    border-color: black;
    background: none;
    text-align: left;
}

.notesInput:focus{
    outline: none;
    border-color: #C6C0CA;
}

.exerciseInput:focus, .baselineInput:focus, .activityInput:focus{
    outline: none;
    /*background: #9A93B7;*/
}

.description{
    /*text-align: left;*/
    padding-right: 30px;
    padding-left: 10px;
    text-align: left;
    font-size: calc(7px + .6vw + .2vh);
    color: grey;
}

.typename {color:black;}

.sectionTitle{
    font-size: 3vh;
    font-family: Calibri;
    font-weight: 800;
}

.timeframe{
    /*font-family: Tw Cen Mt;*/
    font-family: Courier;
    padding: 7px 13px;
    border-radius: 9px; border-width: 1px; border-color: #C6C0CA;
    font-size: 12px;
    color: grey; background: #C6C0CA;
}

.goaltype:focus{
    outline: none;
}

.goaltype:hover{
    cursor: pointer;
}

.goaltype{
    font-family: Tw Cen Mt;
    background: none;
    border: none;
    /*font-family: Courier;*/
    padding: none;
    font-size: 14px;
    color: white;
}

.goToGoal:hover{
    background: #8A94B9;
    border-color: #8A94B9;
    color: black;
    cursor: pointer;
}

.goToGoal{
    font-family: Tw Cen Mt;
    padding: 7px 13px;
    border-radius: 9px; border-width: 1px; border-color: #615B5B;
    font-size: 14px;
    color: white; background: #474444;
}

.disallowed{
    pointer-events:none;
    font-family: Tw Cen Mt;
    padding: 7px 13px;
    border-radius: 9px; border-width: 1px; border-color: #CECDD3;
    font-size: 14px;
    color: white; background: #CECDD3;
}


/*br {
   display: block;
   margin: 0px;
}*/



#instructions{
    line-height:22px;
    font-family: Tw Cen Mt;
    font-size: 18px;
}

.timeframe:focus{ outline: none; }
.timeframe:hover{ cursor: pointer; }

/*svg { height: 8vw; width: auto; }
svg:hover { fill: #364074; }*/



